<h1>All our Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <ul class='list-group list-group-flush'>
    <li class='list-group-item'> <%= link_to restaurant.name, restaurant_path(restaurant) %> </li>
  </ul>
<% end %>

